@charset "UTF-8";
/*CSS Dokument*/

/*########################## HTML TAG #################################*/
body, html {margin: 0; padding: 0; width: 100%; height: 100%;  overflow: hidden;}
/*########################## HTML TAG #################################*/

table{
  width: calc(100% - 28px);
  overflow: hidden;
  margin: 14px 14px 14px 14px;
  font-family: monospace;
  text-align: center;
}

.mitarbeiterHinzufuegen{
  /* margin: 14px 14px 14px 14px; */
  /* width: 100%; */
  font-size: 25px;
  line-height: 50px;
  overflow: auto;
  /* font-family: monospace; */
  /* text-align: center; */
  /* font-size: 6.25vw; */
}

.plus {
  padding: 0;
	float: right;
  /* margin: 0; */
  /* padding: 0; */
	background: transparent;
	background-image: url('../icon/icons8-plus-2-50.png');
	height: 50px;
	width: 50px;
	border: none;
  overflow: hidden;
  cursor: pointer;
  /* position: relative; */
  /* top: 75px;
  left: 675px; */
	box-shadow: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
