/*Quelle: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_placeholder*/
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}
