@charset "UTF-8";
/*CSS Dokument*/

/*########################## HTML TAG #################################*/
body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: auto;
}
/*########################## Allgemein #################################*/
:root{
	--colorBlue:			#2b78e4;
	--colorBlueText:	#f2f2f2;
	--colorDarkGray:	#989898;
	--colorLightGray:	#c8c8c8;
	--m4u_color:			#860008;
	--m4u_colorText:	#ffffff;
	--black:					#000000;
}

.colorRed{
		color: red;
}

.colorBlue {
	background-color: var(--colorBlue);
	color: var(--colorBlueText);
}

.colorLightGray{
	background-color: var(--colorLightGray);
}

.colorDarkGray{
	background-color: var(--colorDarkGray);
}

.m4u_color {
	background-color: var(--m4u_color);
	color: var(--m4u_colorText);
}

.nthEmployee:nth-child(4n+3), .nthEmployee:nth-child(4n+4){
    background-color: var(--colorLightGray);
}

.nthSettings:nth-child(even){
	background-color: var(--colorLightGray);
}

.border{
  border-style: solid;
  border-color: var(--black);
	border-collapse: collapse;
}
/*########################## Help #################################*/
.object {
  margin-left: 14px;
  width: calc(100% - 35px);
  height: calc(100% - 100px);
}
/*########################## Button #################################*/
.plus{
  padding: 0;
	float: right;
	background: transparent;
	background-image: url('../icon/icons8-plus-2-50.png');
	height: 50px;
	width: 50px;
	border: none;
  cursor: pointer;
	box-shadow: none;
  outline: none;
}

.edit{
		padding: 0;
		margin-top: 5px;
		background: transparent;
		background-image: url('../icon/icons8-edit-40.png');
		height: 40px;
		width: 40px;
		border: none;
		cursor: pointer;
		box-shadow: none;
		outline: none;
}

.delete{
	padding: 0;
	background: transparent;
	background-image: url('../icon/icons8-delete-50.png');
	height: 50px;
	width: 50px;
	border: none;
	cursor: pointer;
	outline: none;
}

.i_button{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 200px 0 0 -100px;
}

.s_button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn{
	height: 36px;
	width: 200px;

	font-family: monospace;
	font-size: 15px;

	box-shadow: none;
	outline: none;
	cursor: pointer;
}
/*########################## Table #################################*/
.tableAll{
  width: calc(100% - 28px);
  margin: 14px 14px 14px 14px;
  font-family: monospace;
  font-size:25px;
  text-align: center;
}

.table2{
  height: 125px;
  font-size:25px;
}

td{
	height: 61px;
}

input{
  width: 75%;
  height: 30px;

  font-family: monospace;
  font-size: 15px;
  text-align: center;

  outline: none;
}

.tableWidth25{
	width: 25% !important;
}

.tableWidth50{
	width: 50% !important;
}
/*########################## Heading #################################*/

.heading1{
	padding-left: 12%;
}

.heading2{
	height: 50px;
}

@media screen and (max-width: 450px) {
  .heading1{padding-left: 0;}
}
/*########################## Settings #################################*/

.settingsGrungeinstellung{
	height: 56px;
}

/*########################## Navbar #################################*/
/* TODO: Auf employee.php bug! sidebar zu lang! */
.topnav {
  overflow: hidden;
  background-color: var(--colorBlue);
  font-family: monospace;
  margin: 14px 14px 14px 14px;
  border-style: solid;
}

.topnav a {
  float: left;
  display: block;
  color: var(--colorBlueText);
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
}

.topnav .container {
  display: none;
  padding-left: 14px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--colorLightGray);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
    margin: 70px 0px 0px 14px;
    height: calc(100% - 80px);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
    font-family: monospace;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--colorLightGray);
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 800px) {
  .topnav a {padding: 6px 0px 6px 14px;}
  .topnav a:not(:last-child) {display: none;}
  .topnav a.container {
    float: left;
    display: block;
  }
}

@media screen and (min-width: 801px) {
  .sidenav{display: none;}
  .topnav a:hover {
    background-color:var(--colorBlueText);
    color: var(--black);
  }
}
/*########################## Index #################################*/
.m4u_logo{
  position:absolute;
  width: 500px;
  left: 50%;
	top: 50%;
  margin: -210px 0 0 -250px;
}

.fg1{
  position:absolute;
  width: 450px;
  left: 50%;
	top: 50%;
  margin: 30px 0 0 -225px;
}

.fg2{
  position:absolute;
  width: 450px;
  left: 50%;
	top: 50%;
  margin: 90px 0 0 -225px;
}

@media only screen and (max-width: 500px) {
  .m4u_logo{
    width: 325px;
    margin: -210px 0 0 -162.5px;
  }
  .fg1 {
    width: 300px;
    margin: -10px 0 0 -150px;
  }

  .fg2 {
    width: 300px;
    margin: 50px 0 0 -150px;
  }
  .i_button {
    margin: 120px 0 0 -100px;
  }
}

@media only screen and (max-height: 425px) {
  .m4u_logo{
    width: 325px;
    margin: -170px 0 0 -162.5px;
  }
  .fg1 {
    width: 300px;
    margin: 10px 0 0 -150px;
  }

  .fg2 {
    width: 300px;
    margin: 60px 0 0 -150px;
  }
  .i_button {
    margin: 130px 0 0 -100px;
  }
}
/*########################## Logout #################################*/
.logout{
	margin: 14px 14px 14px 14px;
	width: calc(100% - 28px);
	height: calc(100% - 28px);
	font-family: monospace;
	font-size:25px;
	text-align: center;
	background-color: var(--colorLightGray);
}
